* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $gradient-color;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    max-width: 990px;
    padding-bottom: 2%;
    margin: 0 auto;
    h1 {
    color: $secondary-color;
    @include headers($main-font);

    }
    h2 {
        color: $primary-color;
        @include headers($main-font);
    }
    p {
        @include headers($auxiliar-font);
    }
    
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2%;
    border-bottom: medium solid $light-color;
    color: $light-color;
    background-color: $primary-color;
    h1 {
        @include headers($main-font);
        margin-left: 5%;
    } 
    img {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) border-box;
        max-width: 100px;
    }
    
}

footer {
    bottom: 0;
    padding: 2%;
    border-top: medium solid $light-color;
    background-color: $primary-color;
    text-align: center;
    color: $light-color;
    @include headers($main-font);
    h6 {
        font-size: 1rem;
    }
    a, a:visited {
        text-decoration: none;
        color: $secondary-color;
        :hover, :active {
            color: #fff;
        }
    }
}

@media (max-width: 998px) {
    main {
        padding: 5%;
    }
}

