* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $gradient-color;
}

main {
    max-width: 990px;
    margin: 0 auto;
    h1 {
    color: $secondary-color;
    @include headers($main-font);

    }
    h2 {
        color: $primary-color;
        @include headers($main-font);
    }
    p {
        @include headers($auxiliar-font);
    }
    
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2%;
    color: $light-color;
    background-color: $primary-color;
    h1 {
        @include headers($main-font);
        margin-left: 5%;
    } 
    img {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) border-box;
        max-width: 100px;
    }
    
}

@media (max-width: 998px) {
    main {
        padding: 5%;
    }
}

